addict==2.4.0
alabaster==0.7.12
albumentations==1.1.0
appdirs==1.4.4
asynctest==0.13.0
attrs==21.4.0
Babel==2.10.1
backcall==0.2.0
beautifulsoup4==4.9.3
brotlipy==0.7.0
certifi==2020.12.5
cffi==1.14.3
chardet==3.0.4
cityscapesScripts==2.2.0
click==8.1.3
codecov==2.1.12
colorama==0.4.4
coloredlogs==15.0.1
commonmark==0.9.1
conda==4.9.2
conda-build==3.21.4
conda-package-handling==1.7.2
coverage==6.4.1
cryptography==3.2.1
cycler==0.11.0
Cython==0.29.30
decorator==4.4.2
dnspython==2.1.0
docutils==0.16
filelock==3.0.12
flake8==4.0.1
fonttools==4.33.3
glob2==0.7
humanfriendly==10.0
idna==2.10
imagecorruptions==1.1.2
imageio==2.19.3
imagesize==1.3.0
importlib-metadata==4.11.4
iniconfig==1.1.1
interrogate==1.5.0
ipython==7.19.0
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.17.2
Jinja2==2.11.2
joblib==1.1.0
kiwisolver==1.4.2
kwarray==0.6.0
libarchive-c==2.9
Markdown==3.3.7
MarkupSafe==1.1.1
matplotlib==3.5.2
mccabe==0.6.1
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mmcls==0.21.0
mmcv==1.4.7
mmcv-full==1.4.7
mmdet==2.22.0
networkx==2.8.3
numpy==1.19.2
olefile==0.46
opencv-python==4.6.0.66
opencv-python-headless==4.6.0.66
packaging==21.3
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.1
pip==20.2.4
pkginfo==1.7.0
pluggy==1.0.0
prompt-toolkit==3.0.8
protobuf==3.19.4
psutil==5.7.2
ptyprocess==0.7.0
py==1.11.0
pycocotools==2.0.4
pycodestyle==2.8.0
pycosat==0.6.3
pycparser==2.20
pyflakes==2.4.0
Pygments==2.7.4
pyOpenSSL==19.1.0
pyparsing==3.0.9
pyquaternion==0.9.9
PySocks==1.7.1
pytest==7.1.2
python-dateutil==2.8.2
python-etcd==0.4.5
pytz==2020.5
PyWavelets==1.3.0
PyYAML==5.3.1
qudida==0.0.4
recommonmark==0.7.1
requests==2.24.0
ruamel-yaml==0.15.87
scikit-image==0.19.2
scikit-learn==1.1.1
scipy==1.8.1
setuptools==50.3.1.post20201107
six==1.15.0
sklearn==0.0
snowballstemmer==2.2.0
soupsieve==2.1
Sphinx==4.0.2
sphinx-copybutton==0.5.0
sphinx-markdown-tables==0.0.15
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tabulate==0.8.9
tensorboardX==1.6
terminaltables==3.1.10
threadpoolctl==3.1.0
tifffile==2022.5.4
toml==0.10.2
tomli==2.0.1
torch==1.7.1
torchelastic==0.2.1
torchvision==0.8.2
tqdm==4.51.0
traitlets==5.0.5
typing==3.7.4.3
typing-extensions==3.7.4.3
ubelt==1.1.1
urllib3==1.25.11
wcwidth==0.2.5
wheel==0.35.1
xdoctest==1.0.0
yapf==0.32.0
zipp==3.8.0
